---
import NavigationList from "./NavigationList.astro";

const {
  text,
  url,
  title,
  children,
  level,
  maxLevel,
  navId,
  redirect,
  dependencies,
  startLevel,
} = Astro.props;

const current = url === Astro.url.pathname;
const trail = dependencies?.includes(redirect) || dependencies?.includes(url);
---

<li class={(current && `active`) || (trail && `trail`)}>
  <a
    href={redirect || url}
    title={title}
    class={(current && `active`) || (trail && `trail`)}
    role="menuitem"
    data-nav-id={navId}>{text}</a
  >
  {
    children?.length > 0 && (
      <NavigationList
        startLevel={startLevel}
        currentLevel={level + 1}
        maxLevel={maxLevel}
        navigationItems={children}
      />
    )
  }
</li>
